body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}

nav h1 {
  margin: 5px;
}

#contenedor {
  width: 80%;
  margin: 20px auto;
  display: flex;
  gap: 30px;
}

.perfil {
  width: 200px;
  height: 300px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagen-perfil {
  width: 100px; 
  margin-bottom: 20px;
}

.feed {
  flex: 1;
}

.feed h1 {
  margin-top: 0;
}

.post {
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

.post-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes {
  display: flex;
  align-items: center;
  gap: 15px;
}

.boton-like {
  background-color: #FFD700;
  border-radius: 5px;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
}